<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <p>
        <div class="container text-md-center">
            <h1 class="text-uppercase">User Not found</h1>
            <p class="lead text-muted mb-4">Invalid credentials please try again</p>
            <a class="btn btn-outline-primary" href="/Home"><i class="fas fa-home"></i> Go to Homepage</a>
            <br />
            <img src="~/img/404.svg" />

        </div>
        </p>
    
</body>
</html>
